---
import { ChevronLeftCircle } from "@lucide/astro";
import { getCollection, type CollectionEntry } from "astro:content";
import PageTitle from "../../../components/page-title.astro";
import Layout from "../../../layouts/layout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("archives", ({ data }) => {
    return data.locale === "id";
  });
  const categories = [...new Set(posts.map((post) => post.data.category))];
  return categories.map((category) => ({
    params: { category },
  }));
}

const { category } = Astro.params;
const posts = await getCollection("archives", ({ data }) => {
  return data.category === category && data.locale === "id";
});

const sortedPosts = posts.sort(
  (a: CollectionEntry<"archives">, b: CollectionEntry<"archives">) =>
    b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<Layout title={`Arsip: ${category}`}>
  <PageTitle title={`Kategori: ${category}`} />

  <section class="py-12">
    <div class="container mx-auto px-4">
      <div class="mb-8 text-center">
        <a
          href="/id/arsip"
          class="text-white bg-black hover:bg-black/80 transition-colors px-4 py-2 rounded-full flex items-center gap-2 w-fit"
          ><ChevronLeftCircle /> Kembali ke semua arsip</a
        >
      </div>

      <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        {
          sortedPosts.map((post) => (
            <li>
              <a
                href={`/id/post/${post.slug.split("/").pop() || post.slug}`}
                class="block border border-gray-200 rounded-lg overflow-hidden hover:shadow-lg transition-shadow"
              >
                {post.data.image && (
                  <img
                    src={post.data.image}
                    alt={post.data.title}
                    class="w-full h-48 object-cover"
                  />
                )}
                <div class="p-6">
                  <p class="text-sm text-gray-500 mb-2">{post.data.category}</p>
                  <h2 class="text-2xl font-serif mb-2">{post.data.title}</h2>
                  <p class="text-gray-600 mb-2">
                    Dipublikasikan pada:{" "}
                    {post.data.pubDate.toLocaleDateString("id-ID")}
                  </p>
                  <p class="text-lg">{post.data.description}</p>
                </div>
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </section>
</Layout>
